html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

#inventory__wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: white;
}

#inventory {
	height: 50px;
	border: 1px solid red;
	min-width: 10px;
	padding: 0;
	margin: 0;
}

#inventory li {
	list-style: none;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 2px;
	border: 1px solid blue;
}
